#registry=https://loposan-npm.pkg.coding.net/registry/npm/
#always-auth=true
#//loposan-npm.pkg.coding.net/registry/npm/:username=FKyhkhcwrk
#//loposan-npm.pkg.coding.net/registry/npm/:_password=ZmJjMWM1ZTM1YjIzN2ZkOGZmYWVmNTgyMWY3ZGQ1M2Y1ODU3OGI0Nw==
#//loposan-npm.pkg.coding.net/registry/npm/:email=hibjs@outlook.com